<h1>COOKIES</h1>

<h4>What are cookies?</h4>

<p>Cookies are small files that you browser stores to help the webpage keep track of specific data</p>

<h4>How do we use them</h4>

<p>We store cookies on your device to keep you logged in, or to set your language preference.  We never use cookies to track where you are located or data on how you use the website.  Cookies are required to know which device has your account signed in, without them, as soon as you login, you will just be logged out again.</p>

<h1>PRIVACY POLICY</h1>

<p>When we collect data form you form either form or some other known method, we always require you to read this area of the TOS so you know what and how we use your data.  When you create an account, your email NEVER goes publicly available</p>