[submodule "xenonmc.xyz"]
	path = xenonmc.xyz
	url = https://github.com/xenonmc-dev/xenonmc.xyz
[submodule "XFRAME"]
	path = XFRAME
	url = https://github.com/XENONMC-DEV/XFRAME
[submodule "tools"]
	path = tools
	url = https://github.com/XENONMC-DEV/tools
[submodule "XFRAME-ROUTER"]
	path = XFRAME-ROUTER
	url = https://github.com/XENONMC-DEV/XFRAME-ROUTER
[submodule "XFORUM"]
	path = XFORUM
	url = https://github.com/XENONMC-DEV/XFORUM
[submodule "PHP-MySQLi-Query-Builder"]
	path = PHP-MySQLi-Query-Builder
	url = https://github.com/XENONMC-DEV/PHP-MySQLi-Query-Builder
