<div class="obj-links-list-blocks-wrapper">

    <if (layout) == 'main'>

        <div class="header-wrapper">

            <p class="title">@links-list-blocks-title @</p>
        </div>
    </if>

    <div class="links-wrapper">

        <div class="link">
        
            <div class="banner">
        
                <div class="img icon">

                    <i class="fal fa-users"></i>
                </div>
            </div>   

            <div class="title-wrapper">

                <a href="/admin/users" class="title">USERS</a>
            </div>
        </div>   

        <div class="link">
        
            <div class="banner">
        
                <div class="img icon">

                    <i class="fal fa-users-crown"></i>
                </div>
            </div>   

            <div class="title-wrapper">

                <a href="/admin/ranks" class="title">RANKS</a>
            </div>
        </div>

        <div class="link">
        
            <div class="banner">
        
                <div class="img icon">

                    <i class="fal fa-database"></i>
                </div>
            </div>   

            <div class="title-wrapper">

                <a href="/admin/database" class="title">DATABASE</a>
            </div>
        </div>

        <div class="link">
        
            <div class="banner">
        
                <div class="img icon">

                    <i class="fal fa-server"></i>
                </div>
            </div>   

            <div class="title-wrapper">

                <a href="/admin/information" class="title">INFORMATION</a>
            </div>
        </div>
    </div>

    <div class="footer-wrapper">


    </div>
</div>