<table class="obj-table-wrapper">

    <tr class="row-wrapper">

        <th class="title">Username</th>
        <th class="title">Email Address</th>
        <th class="title width-auto">

            <button class="button">

                <div class="tooltip">menu click</div>
                <i class="fal fa-ellipsis-h"></i>
            </button>
        </th>
    </tr>

    <tr class="row-wrapper">

        <td class="content">Xfaon</td>
        <td class="content">xfaonrgb@gmail.com</td>
        <td class="content width-auto">

            <button class="button">

                <div class="tooltip">y</div>
                <i class="fal fa-ellipsis-h"></i>
            </button>
        </td>
    </tr>

    <tr class="row-wrapper">

        <td class="content">Xfaon</td>
        <td class="content">xfaonrgb@gmail.com</td>
        <td class="content width-auto">

            <button class="button">

                <i class="fal fa-ellipsis-h"></i>
            </button>
        </td>
    </tr>
</table>